.navbar{
    width: 100%;
    height: 80px;
    background-color: gray;
    display: flex;
    justify-content: center;


}
.Link{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    color: white;

}
.Link a {
    margin-left: 20px;
}